<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandomDataViewer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D171B53E1CE42C3400FAF8A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D171B55A1CE42C3400FAF8A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D19D75261CEB9A9400515A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
